<div class="modal-content">
  <form name="categoryForm" novalidate role="form" class="form-horizontal">
    <div class="modal-header">
      <button type="button" class="close" data-ng-click="vm.modal.cancel()" aria-hidden="true">×</button>
      <h4 class="modal-title" id="myModalLabel">{{vm.modalData.options.headerText}}</h4>
    </div>
    <div class="modal-body">
      <div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
      <div class="form-group" ng-show="vm.isCreateFlag">

        <label for="parent" class="col-sm-2 control-label">Parent</label>
        <div class="col-sm-10">
          <select id="parent" name="parent" class="form-control input-sm" ng-model="vm.formData.parent" ng-options="option._id as option.name for option in vm.catList">
            <option value="">-- Select an option--</option>
          </select>
        </div>

      </div>
      <div class="form-group" show-errors>
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input id="name" name="name" class="form-control" placeholder="Category Name" required ng-model="vm.formData.name" />
          <!-- show an error if this isn't filled in -->
          <p class="help-block" ng-if="categoryForm.name.$error.required">category name is required.</p>
        </div>
      </div>
      <div class="form-group">
        <label for="desc" class="col-sm-2 control-label">Desc</label>
        <div class="col-sm-10">
          <textarea id="desc" name="review" class="form-control" rows="3" ng-model="vm.formData.desc"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-ng-click="vm.modal.cancel()">{{vm.modalData.options.closeButtonText}}</button>
        <button type="submit" class="btn btn-primary" data-ng-click="vm.onSubmit()">{{vm.modalData.options.okButtonText}}</button>
      </div>

    </div>
    <form>
</div>