<!-- Modal Start here-->

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">
                    <span class="glyphicon glyphicon-time">
                    </span>Please Wait
                 </h4>
    </div>
    <div class="modal-body">
        <div class="progress">
            <div class="progress-bar progress-bar-info
                    progress-bar-striped active" style="width: 100%">
            </div>
        </div>
    </div>
</div>
<!-- Modal ends Here -->